.button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.button--primary {
  color: white;
  background-color: #0dbd95;
}

.button--primary:hover {
  background-color: #098468;
}

.button--primary:disabled {
  background-color: #D1D1D1;
}


.button--secondary {
  color: #0dbd95;
  background-color: transparent;
  box-shadow: #0dbd95 0px 0px 0px 1px inset;
}

.button--secondary:disabled {
  color: white;
  background-color: #d1d1d1;
  box-shadow: none;
}

.button--secondary:hover:enabled
{
  background-color: #9ee5de;
}

.button--tertiary {
  color: #000000;
  background-color: transparent;
  /* box-shadow: #0dbd95 0px 0px 0px 1px inset; */
}

.button--tertiary:hover
{
  background-color: #F6F6F6;
}

.button--upgrade {
  color: white;
  background-color: #0082ff;
  box-shadow: #0082ff 0px 0px 0px 1px inset;
}

.button--upgrade:hover
{
  background-color: #274ea3;
}

.button--warning {
  color: white;
  background-color: #ee5c33;
  box-shadow: #ee5c33 0px 0px 0px 1px inset;
}

.button--warning:hover
{
  background-color: #D74B23;
}

.button--logo {
  color: #8c8c8c;
  background-color: white;
  box-shadow: #8c8c8c 0px 0px 0px 1px inset;
  content:"+";
}

.button--logo:hover:enabled{
background-color: #B9B9B9;
}

.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
